*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #2aaeda 40%, 
    #242419 70%,
    #447644 75%,
    #66b3ff 60%);
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.headFirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
    /* font-size: 3rem; */
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.mainNav ul{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    gap: 8px;
    padding: 6px;
}

.mainNav ul li{
    list-style-type: none;
    padding: 2px;
}

a{
    text-decoration: none;
    color: white;
}

.navOpen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 30px;
    height: 40px;
    background-color: white;
    color: black;
    cursor: pointer;
}

/* GETTING READY */
.gettingReady{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.ready h1{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.ready p{
    text-align: center;
    color: gold;
    font-size: 20px;
}

.gettingReady button{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid gold;
    font-size: 20px;
}
.gettingReady>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: rgb(150, 136, 56);
    color: white;
}

/* THE IMAGE CAROUSEL SECTION

*/

.imageCarousel img{
    width: 90%;
    margin-left: 14px;
    margin-right: 10px;
    margin-top: 20px;
}

.access{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.access h1{
    color: white;
    font-size: 26px;
    margin-bottom: 10px;
}
.access p{
    color: gold;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.steps{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-left: 4px solid black;
    margin-left: 15px;
}
.step{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    width: 320px;
    padding: 9px;
    border-radius: 20px;
    height: 150px;
}

.step p{
    font-size: 18px;
    text-align-last: center;
}

/* THE VIDEO TUTORIAL SECTION */
.videoTutorial h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    margin: 20px ;
}

.trialVersionVideo h2{
    text-align: center;
    font-size: 27px;
    color: white;
    margin: 10px 0;
}

.videoss{
    display: grid;
    grid-template-columns: 50fr 50fr;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
.videoHosted{
    margin-left: 20px;
    border: 2px solid gold;
}

iframe{
    margin: -40px;
    padding: 10px;
}

/* WHAT WE DO */
.whatWeDo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.whatWeDo>h3{
    color: white;
    font-size: 33px;
    margin-bottom: 10px;
}
.whatWeDo>h4{
    color: gold;
    font-size: 20px;
    margin-bottom: 10px;
    text-align-last: center;
    padding: 0 0 0 5px;
}

.tutorDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    width: 340px;
    padding: 9px;
    border-radius: 20px;
    height: 200px;
}

.tutorDiv h3{
    color: rgb(161, 123, 25);
    font-size: 20px;
}
.tutorDiv p{
    text-align-last: center;
}
.tutorDiv a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: rgb(150, 136, 56);
    color: white;
}


/* THE SUBSCRIPTION PACKAGE */
.subscriptionsPackage{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.overheader h2{
    color: rgb(255, 255, 255);
    font-size: 19px;
}

.trialsVersion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    width: 340px;
    padding: 15px;
    border-radius: 20px;
    height: 350px;
    box-shadow: inset 10px 6px 50px rgba(0, 0, 0, 1);
}

.trialsVersion a{
    color: white;
    font-size: 20px;
    margin: 10px;
    border: 3px solid white;
    outline: 3px solid rgb(119, 107, 34);
    background-color: rgb(119, 107, 34);
    width: 180px;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    border-radius: 0 30px 30px 0;
}
.trialsVersion h3{
    color: rgb(131, 108, 25);
    font-size: 25px;
}
.trialsVersion p{
    text-align:center;
}
sup{
    padding: 0 3px 0 0;
}
.amountP{
    width: 200px;
    background-color: #2aaeda;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 30px 0 0 30px;
    /* border-radius: 30px; */
    border: 3px solid white;
    outline: 3px solid #2aaeda;
    color: white;
}

.otherVersions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 340px;
    padding: 9px;
    border-radius: 20px;
    height: 300px;
    /* box-shadow: -10px -10px 5px #8e8585; */
    box-shadow: inset 10px 6px 50px rgba(0, 0, 0, 1);
}

.otherVersions a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 0 30px 30px 0;
    /* border-radius: 30px; */
    border: 3px solid white;
    outline: 3px solid  rgb(119, 107, 34);
    font-size: 20px;
    background-color: rgb(119, 107, 34);
    color: white;
}
.otherVersions p{
    text-align-last: center;
}

/* THE SCREENSHOT SECTION */
.imagesSectionScreenshot img{
    width: 90%;
    margin-left: 14px;
    margin-right: 10px;
    margin-top: 20px;
}
.imagesSectionScreenshot h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.questionPalace h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    color: white;
    font-size: 23px;
}
.questionPalace{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.question{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    width: 340px;
    padding: 9px;
    border-radius: 20px;
    height: 200px;
}
.question h5{
    color: rgb(208, 169, 28);
    font-size: 16px;
    text-align-last: center;
}

/* THE FOOTER */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p{
    text-align-last: center;
    padding: 8px;
    color: rgb(255, 230, 4);
}
.footerNav{
    margin: 10px;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.footerNav ul li{
    list-style-type: none;
}

/* THE CHECKOUT PAGE */

.makePaymentForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.makePaymentForm h4{
    color: rgb(251, 251, 251);
    font-size: 20px;
    padding: 4px;
    text-align-last: center;
}
.formToFill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}
.formToFill p{
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 7px;
}
input, select{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    padding: 6px;
    font-size: 16px;
    border: 3px solid white;
    outline: 3px solid rgb(150, 136, 56);
}
select{
    height: 40px;
    overflow: hidden;
}
select::-webkit-scrollbar{
    display: none;
}
option{
    background-color: goldenrod;
    color: white;
    max-width: 200px;
    border-radius: 30px;
    height: 200px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: rgb(150, 136, 56);
    color: white;
    cursor: pointer;
}
button:hover{
    color: rgb(150, 136, 56);
    background-color: white;
}
.paymentWallets{
    background-color: rgb(150, 136, 56);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 10px 0;
    position: fixed;
    top: 40px;
    box-shadow: inset 10px 6px 50px rgba(0, 0, 0, 1);
}
.paymentWallets h4{
    font-size: 17px;
    padding: 6px;
    text-align: center;
}
.paymentWallets>p{
    text-align: center;
    font-size: 17px;
}
.sendTelegram>a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100px;
    background-color: white;
    color: rgb(150, 136, 56);
}
.sendTelegram>a:hover{
    background-color: rgb(150, 136, 56);
    color: white;
}
.sendTelegram{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}

.payHead{
    background-color: white;
    color: rgb(150, 136, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancelHead{
    width: 40px;
    height: 30px;
    background-color: red;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.makePaymentForm h5{
    text-align: center;
    font-size: 15px;
    color: white;
}




.walletAccounts{
    /* display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px; */
    
    display: grid;
    grid-template-columns: 10fr 75fr 15fr;
    padding: 7px;
    align-items: center;
}


.walletAdd{
    font-size: 11.1px;
}
.walletAccounts h4{
    background-color: white;
    color: rgb(150, 136, 56);
    margin-left: 8px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}
.walletAccounts>h4:hover{
    background-color: rgb(150, 136, 56);
    color: white;
}
.copied{
    position: fixed;
    top: 10px;
    padding: 5px;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(150, 136, 56);
    height: 80px;
}

/* CONTACT PAGE */
#ContactSubmit{
    border: none;
    border-radius: 0 0 0 0;
    background-color: #2aaeda;
}
#ContactSubmit:hover{
    color: #2aaeda;
    background-color: whitesmoke;
}
textarea{
    height: 100px;
    width: 300px;
    padding: 8px;
    box-shadow: inset 10px 6px 50px rgb(192, 192, 196);
    border: none;
    outline: none;
    font-size: 18px;
}
.contactForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #6897a7;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 10px 6px 50px rgb(26, 49, 195);
}
.contactForm h3{
    text-align: center;
    color: white;
    font-size: 25;
}
.contactInput{
    width: 300px;
    border-radius: 10px;
    height: 35px;
    border: none;
    outline: none;
    box-shadow: inset 10px 6px 50px rgb(192, 192, 196);
}

.overallIn{
    display: flex;
    padding: 5px;
    /* align-items: center; */
    justify-content: space-between;
}

.contactForm>p{
    text-align: center;
    font-size: 17px;
    color: #cbda2a;
}
.balanceDiv>h2{
    color: #cbda2a;
}

.withdrawDeposit{
    display: flex;
    gap: 5px;
    margin: 5px;
}
.deposit{
    background-color: green;
}
.withdraw{
    background-color: rgb(128, 0, 0);
}

.outlinee{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
.outliner{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.in{
    background-color: green;
}
.out{
    background-color: rgb(128, 0, 0);
}

.welcomeNote{
    display: flex;
    color: white;
    justify-content: start;
    align-items: center;
    margin: 10px;
}

.footerDash{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    position: absolute;
    bottom: 0;
    /* align-items: center; */
}
.innerOne{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
}

.firstshift{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.firstshift>h3{
    color: #cbda2a;;
}
.apartment{
    display: flex;
    /* gap: 10px; */
}
.innerInner{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 170px;
    padding: 10px;
}
.innerInner>h3{
    color: #cbda2a;;
}
.recentT>h3{
    color: white;
    font-size: 21.5px;
    padding: 10px 0;
}

#pleasePay{
    position: absolute;
    top: 200px;
    left: 0;
    margin-left: 0;
    padding: 10px;
    width: 100%;
}
.mainCoin{
    font-size: 5px;
}
.deleter{
    font-size: 20px;
    color: red;
    cursor: pointer;
}
.conCopy{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}
.copyBut{
    border: 2px solid white;
    padding: 5px;
    background-color: rgb(150, 136, 56);
    border-radius: 20px;
    cursor: pointer;
}

.walletCopied{
    position: absolute;
    top: 200px;
}
#withrawalNote{
    position: absolute;
    top: 150px;
}